@import "tailwindcss";

@theme {
	--font-display: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
	--font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, monospace;
}

body {
	background-color: #f7f1e3;
	background-image: radial-gradient(#00000017 1px, transparent 1px);
	background-size: 20px 20px;
}
